.contentRow{
    margin-top: 100px;
}
.text-danger{
    color: red;
}
.ui.primary.button.mainButton,.ui.primary.button.mainButton:hover{
    background-color: #055CE5;
    border-radius: 20px;
    width: 150px;
    height: 40px;
}
.contentImg{
    padding-right: 60px;
    height: 480px;
}
.col{
    padding-top: 20px;
}
.col h4{
    font-size: 24px;
}
.col p{
    font-size: 17px;
}
.col2{
    padding-top: 30px;
}
.col3 p{
    font-size: 13px;
}
.ui.blue.inverted.button{
    border-radius: 20px;
    width: 100px;
    height: 40px;
    color: #055CE5;
}
.ui.button.mainButton1{
    border-radius: 20px;
    color: #055CE5;
    border: 1px solid #055CE5;
    background-color: white;
    width: 100px;
}
.ui.button.mainButton1:hover{
    background-color: #055CE5;
    color: white;
}